.logo-container{
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.article{
   display: flex;
}

/* .home-heading-container{
  display: flex;
} */
.navbar-container{
  position: fixed;
  left:0;
  background-color:'#001529';
  height:"100vh"
}



